Repository houertecnologia/lib-phynfra: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, yamllint, bandit

black:
  name: Run Black
  entry: poetry run black
  language: system
  stages:
  - commit

isort:
  name: Run Isort
  entry: poetry run isort
  language: system
  stages:
  - commit

flake8:
  name: Run Flake8
  entry: 'poetry run pflake8 --ignore "B905,B903" --per-file-ignores "processing/app/commons/helpers/spark_utils.py:E712, processing/app/jobs/sme/landing/extract_ocorrencia.py:E712, processing/app/jobs/sme/landing/extract_monitoramento.py:E203"
  
    '
  language: system
  stages:
  - commit

yamllint:
  name: Run Yamllint
  entry: poetry run yamllint
  language: system
  stages:
  - commit

bandit:
  name: Run Bandit
  entry: poetry run bandit
  language: system
  args:
  - --configfile
  - pyproject.toml
  - --severity-level
  - all
  - --confidence-level
  - all
  - --quiet
  - --format
  - custom
  stages:
  - commit

docs: add docstring to function
  phynfra/spark/loaders.py
Due: black, isort, flake8, bandit

fix: ci paths
  .github/workflows/github_ci_build_python_package_dev_commit.yml
Due: yamllint

docs: fixed docstring
  phynfra/spark/loaders.py
Due: black, isort, flake8, bandit

feat: add get_latest_file function
  phynfra/commons/utils.py
Due: black, isort, flake8, bandit

feat: add create views function reading from last batch
  phynfra/spark/loaders.py
Due: black, isort, flake8, bandit

fix argument name
  phynfra/spark/loaders.py
Due: black, isort, flake8, bandit

feat: add databricks automerge
  phynfra/spark/spark.py
Due: black, isort, flake8, bandit

fix: arguments
  phynfra/spark/loaders.py
Due: black, isort, flake8, bandit

fix get folder function
  phynfra/commons/utils.py
Due: black, isort, flake8, bandit

fix: class atribute
  phynfra/aws/async_utils.py
Due: black, isort, flake8, bandit

feat: updating workflow to send wheel package to S3
  .github/workflows/github_ci_build_python_package_commit.yml
Due: yamllint

fix: wheel location and buckets variables
  .github/workflows/github_ci_build_python_package_commit.yml
Due: yamllint

feat: changing pandas version to spark compatible version
  pyproject.toml
Due: none

chore: remove unused argument
  phynfra/commons/utils.py
Due: black, isort, flake8, bandit

feat: removing unecessary spark config
  phynfra/spark/spark.py
Due: black, isort, flake8, bandit

chore: typo
  phynfra/aws/storage.py
Due: black, isort, flake8, bandit

New version
  .dakt/docker/build.sh
  .dakt/docker/entrypoint.sh
  .dakt/docker/spark.Dockerfile
  .flake8
  .github/workflows/github_ci_build_python_package_commit.yml
  .pre-commit-config.yaml
  .yamllint
  Dockerfile
  jars/.keep
  license.txt
  phynfra/__init__.py
  phynfra/__main__.py
  phynfra/apache/__init__.py
  phynfra/apache/spark.py
  phynfra/atomic/__init__.py
  phynfra/atomic/calendar.py
  phynfra/atomic/http.py
  phynfra/aws/__init__.py
  phynfra/aws/async_utils.py
  phynfra/aws/glue.py
  phynfra/aws/s3.py
  phynfra/aws/secret.py
  phynfra/aws/secretsmanager.py
  phynfra/aws/storage.py
  phynfra/commons/api.py
  phynfra/commons/utils.py
  phynfra/google/__init__.py
  phynfra/logger.py
  phynfra/orchestrator/tasks.py
  phynfra/spark/loaders.py
  phynfra/spark/spark.py
  phynfra/tester.py
  poetry.lock
  pyproject.toml
  readme.md
  scripts/build.sh
  scripts/docker-run-spark.sh
  scripts/download-jar.sh
  scripts/example.sh
Due: black, isort, flake8, yamllint, bandit

Added JSON flatten, Microsoft PowerBI Refresher
  phynfra/atomic/json.py
  phynfra/microsoft/__init__.py
  phynfra/microsoft/powerbi.py
  poetry.lock
  scripts/build.sh
Due: black, isort, flake8, bandit

Advances - Google; Updates
  phynfra/atomic/calendar.py
  phynfra/atomic/http.py
  phynfra/google/admin.py
  phynfra/google/authentication.py
  phynfra/google/drive.py
  phynfra/google/mail.py
  phynfra/microsoft/powerbi.py
  phynfra/slack/__init__.py
  phynfra/tester.py
  pyproject.toml
Due: black, isort, flake8, bandit

Changed lib versions
  phynfra/moreapp/__init__.py
  poetry.lock
  scripts/build.sh
Due: black, isort, flake8, bandit

Remove self.spark.sparkContext.setLogLevel(level) after getOrCreate
  phynfra/apache/spark.py
Due: black, isort, flake8, bandit

Guardrails for lacker
  phynfra/apache/spark.py
  poetry.lock
  pyproject.toml
Due: black, isort, flake8, bandit

Added SM methods; Added glue methods; Added logger and utils PEP8 method standartization
  phynfra/__main__.py
  phynfra/apache/spark.py
  phynfra/atomic/arguments.py
  phynfra/atomic/json.py
  phynfra/atomic/logger.py
  phynfra/atomic/utils.py
  phynfra/aws/glue.py
  phynfra/aws/s3.py
  phynfra/aws/secretsmanager.py
  phynfra/google/drive.py
  phynfra/logger.py
  phynfra/microsoft/powerbi.py
  phynfra/tester.py
  poetry.lock
  pyproject.toml
Due: black, isort, flake8, bandit

Bug Fix
  phynfra/atomic/logger.py
Due: black, isort, flake8, bandit

Added builder - missing check S3; boilerplates for spark
  phynfra/__main__.py
  phynfra/atomic/builder.py
  phynfra/atomic/utils.py
  phynfra/boilerplate/__init__.py
  phynfra/boilerplate/entrypoint.py
  phynfra/boilerplate/pyproject.toml
  pyproject.toml
  readme.md
Due: black, isort, flake8, bandit

Added directory structure function
  phynfra/atomic/builder.py
  phynfra/atomic/structure.py
  phynfra/boilerplate/directory.yaml
  phynfra/boilerplate/entrypoint.py
  poetry.lock
  pyproject.toml
Due: black, isort, flake8, yamllint, bandit

Added EMR Serverless; Correct pyproject.toml
  phynfra/apache/spark.py
  phynfra/atomic/builder.py
  phynfra/aws/emr.py
  phynfra/boilerplate/pyproject.toml
  pyproject.toml
Due: black, isort, flake8, bandit

Bug Fix
  phynfra/atomic/logger.py
  phynfra/aws/emr.py
Due: black, isort, flake8, bandit

Fix conflicts with PEP and poetry
  pyproject.toml
Due: none

Build instructions
  phynfra/boilerplate/entrypoint.py
  pyproject.toml
  readme.md
Due: black, isort, flake8, bandit

Bug Fix
  phynfra/aws/glue.py
Due: black, isort, flake8, bandit

Added deps builder by zip
  phynfra/atomic/builder.py
  phynfra/boilerplate/entrypoint.py
  phynfra/boilerplate/pyproject.toml
Due: black, isort, flake8, bandit

Added athena repair function
  phynfra/aws/athena.py
Due: black, isort, flake8, bandit

Builder - evolutions
  phynfra/atomic/builder.py
  readme.md
Due: black, isort, flake8, bandit

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  bandit: any of: \.py$
